@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$color-modal-overlay: rgba(0, 0, 0, 0.4);
$color-black: black;
$color-gray: #333;
$color-light: #ccc;
$color-white: #fff;
$color-blue: #007bff;
$color-green: rgb(80, 177, 80);

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
